body {
  font-family: "Montserrat", sans-serif;
  background-color: ivory;
}

h1 {
  text-align: center;
  font-size: 3em;
}

#expenseInfoForm {
  text-align: center;
}

th {
  text-align: center;
  padding: 2rem;
  text-decoration: underline;
}

table.expenseTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.deleteButton {
  background-color: #f76060;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: #ba0000;
}
