body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
}

form {
  text-align: center;
  display: flex;
  padding: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  border-bottom: 0.5px solid grey;
  border-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expenseHeaders {
  width: 100px;
  padding: 50px;
}
